<h3>Projects</h3>
<table class="table table-hover table-sm">
  <thead>
    <tr>
      <th scope="col">Project</th>
      <th scope="col">Customer</th>
      <th scope="col"></th>
   </tr>
  </thead>
  <tbody>
    <% Project.all.order(created_at: :desc).each do |project| %>
      <tr>
        <td><%= project.project_name %></td>
        <td scope="row"><%= Customer.find(project.customer_id).company %></td>
        <td><div><button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Options</button>
            <div class="dropdown-menu">
              <a class="dropdown-item" <%= link_to "Show",project_path(project)%></a>
              <a class="dropdown-item" <%= link_to "Edit",edit_project_path(project)%></a>
            </div>
          </div>
        </td>
    </tr>
    <% end %>
  </tbody>
</table>
