<h3>Tasks</h3>

<table class="table table-hover table-sm">
  <thead>
    <tr>
      <th scope="col">Customer</th>
      <th scope="col">Project</th>
      <th scope="col">Task</th>
   </tr>
  </thead>
  <tbody>
    <% Task.all.order(created_at: :desc).each do |task| %>
      <tr>
        <td scope="row"><%=Customer.find(Project.find(task.project_id).customer_id).company %></td>
        <td scope="row"><%= Project.find(task.project_id).project_name %></td>
        <td><%= task.task_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
