<h1>Editing Task</h1>

<%= form_for @task do |f| %>

  <div class="field">
    <%= f.label :task_name %>
    <%= f.text_field(:task_name, {:class => 'form-control', :placeholder => 'Enter Task'}) %>
  </div><br>

  <div class="actions">
    <%= f.submit "Save", class: "btn btn-primary" %>
  </div>

<% end %>
