<%= form_for @project do |f| %>

  <div class="field">
    <%= f.label :project_name %>
    <%= f.text_field(:project_name, {:class => 'form-control', :placeholder => 'Enter Project Name'}) %>
  </div><br>

  <div class="actions">
    <%= f.submit "Save", class: "btn btn-primary" %>
  </div>

<% end %>
