<h1>Edit Project</h1>

<%= form_for([@customer, @project], url: customer_project_path([@customer, @project]), html: {class: "edit_customer_project", id: "edit_customer_project", method: :patch}) do |f| %>

  <div class="field">
    <%= f.label :project_name %>
    <%= f.text_field(:project_name, {:class => 'form-control', :placeholder => 'Enter Project Name'}) %>
  </div><br>

  <div class="actions">
    <%= f.submit "Save", class: "btn btn-primary" %>
  </div>

<% end %>
